<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body >

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container" style="background-color: #adb5bd ;">
        <div class="container" style="background-color: white;">
            <div class=container>
                <h1><%= typeof review.title != 'undefined' ? review.title : 'title' %></h1>
                <div class="divider"></div>
                <img class="img-fluid center" src=<%= typeof review.imgLink != 'undefined' ? review.imgLink : 'default' %> alt="Review_image" >

                <div class="divider"></div>

                <p class="lead" ><%= typeof review.desc != 'undefined' ? review.desc : 'description' %></p>

                <div class="divider"></div>
                <p>UserName: <%= typeof review.reviewer != 'undefined' ? review.reviewer : 'user' %></p>
                <p>Review Date: <%= typeof review.reviewDate != 'undefined' ? review.reviewDate : 'Date' %></p>
                <p>Brewer: <%= typeof review.brewer != 'undefined' ? review.brewer : 'Brewer' %></p>
                <p>Beer: <%= typeof review.beerName != 'undefined' ? review.beerName : 'Beer' %></p>
                
    
                <div id="addCommBtn">
                    <form method="POST" action="/create_comment">
                        <input type="hidden" name="reviewId" value=<%= typeof review._id != 'undefined' ? review._id : 'id' %> />
                        <input class="btn btn-primary" type="submit" value="Add Comment" />
                    </form>
                </div>
            </div>
    
            <%if (comments != undefined) { %>
            <div class="container" style="margin-top: 25px;">
                <% comments.forEach(function(comment) { %>
                    <%- include('../partials/comment', {comment:comment}); %>
                <% }); %>
            </div>
            <% } %>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
